.scrollContainer {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.main {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.scrollContent {
  height: 300vh;
  width: 100%;
}
