
@use '../../styles/_functions.scss' as f;

$intro-in: 1500ms;
$intro-out: 1500ms;

.wrapper {
  height: 100vh;
  width: 100%;
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;

  @include f.mobile {
    display: none;
  }

  &.out {
    transition: transform $intro-out var(--ease-out-expo);
    transform: translate3d(0, -100%, 0);
    transition-delay: calc($intro-in + 0ms);
  }

  .start {
    transform: translate3d(0, calc(var(--index) * 5% + 100%), 0);
  }

  .relative {
    padding: f.desktop-vw(30px) f.desktop-vw(32.5px);
    transition: transform $intro-out var(--ease-out-expo);
    transform: translate3d(0, f.desktop-vh(850px), 0);
    transition-delay: calc($intro-in + 0ms);

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .show {
    transition: transform $intro-in var(--ease-out-expo);
    transition-delay: calc(var(--index) * 75ms);
    transform: translate3d(0, 0, 0);
  }
}

.translate {
  @include f.desktop {
    transform: translate3d(0, -100%, 0);
    transition: transform $intro-out var(--ease-out-expo);
  }
}

.mobile {
  @include f.mobile {
    transform: translate3d(0, -105%, 0);
  }
}

/* Size helpers for the SVGs to make them responsive */
.lns, .ei {
  display: block;
  width: 100%;
  height: auto;
}
