
@use 'sass:math';
@use './_variables.scss' as v;

// Breakpoints
@mixin mobile {
  @media (max-width: #{v.$mobile-breakpoint}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{v.$mobile-breakpoint}) {
    @content;
  }
}

// Viewport helpers
@function mobile-vw($pixels, $base-vw: v.$mobile-width) {
  @return math.div($pixels * 100vw, $base-vw);
}

@function mobile-vh($pixels, $base-vh: v.$mobile-height) {
  @return math.div($pixels * 100vh, $base-vh);
}

@function desktop-vw($pixels, $base-vw: v.$desktop-width) {
  @return math.div($pixels * 100vw, $base-vw);
}

@function desktop-vh($pixels, $base-vh: v.$desktop-height) {
  @return math.div($pixels * 100vh, $base-vh);
}

@function columns($columns) {
  @return calc(
    (#{$columns} * var(--layout-column-width)) +
    ((#{$columns} - 1) * var(--layout-columns-gap))
  );
}

@mixin hover {
  @media (hover: hover) {
    @content;
  }
}
